{% extends "registroanimales/padre.html" %}
{% load static %}
{% block tituloprincipal %}
<h1>Sobre mí y el proyecto</h1>
    <h2>Un poco sobre mí... </h2>
    <p5> Mi nombre es Ian Link, tengo 26 años y vivo en Capital Federal (Argentina). Soy licenciado en Sociología (UBA), y con intención de desarrollarme en la ciencia de datos. Por ello, estoy realizando diferentes cursos desde hace un año y medio para lograr tal fin. Empecé el presente curso con la idea de aprender Python (de hecho, empecé sabiendo muy poco de Python y nada de HTML,CSS,Django), pero me sirvió para darme cuenta que es una materia muy interesante, por lo cual me gustaría seguir investigando este camino.</p5>
    <br>
    <br>
    <h4>Si querés saber más sobre mí, te dejo mi perfil en Linkedin</h4>
    <a href="https://www.linkedin.com/in/ian-link-908223122">
        <button>Mi Linkedin</button>
        </a>
    <br>
    <br>
    <br>
    <h2>Un poco sobre el proyecto... </h2>
    <p5>El proyecto fue pensado como una veterinaria con fuerte peso en la parte digital. En ese sentido, permite tener acceso desde la casa de cualquier usuario a la información médica de sus mascotas, intercambiar publicaciones y opiniones con otros clientes, conocer los servicios que ofrece la veterinaria, y ponerse en contacto rápidamente con ella.</p5>
    <br>
    <br>
    <h4>Si querés saber más sobre el proyecto, te dejo la "landing page" de la página web</h4>
    <a href="/registroanimales/">
        <button>Mi página web</button>
        </a>
{% endblock %}