{% extends "registroanimales/padre.html" %}
{% load static %}
{% block tituloprincipal %}
    <h1>Comunidad </h1>
    <p class="lead fw-normal text-muted mb-5">Bienvenidos a la comunidad de Anima(l)te. Aquí usted podrá ver publicaciones de otros usuarios, como así también usted realizar las suyas. Todo en 250 palabras!</p>
    <img src="https://th.bing.com/th/id/R.562b95b8ced690e8c6a88cadd39ceb28?rik=z7wjKNeHKDY4lA&pid=ImgRaw&r=0" width="300" height="160" alt="Comunidad">
    <br>
    <br>
    <a href="/registroanimales/publicacion/list">
        <button>Ingresar!</button>
     </a>
    {% endblock %}