{% extends "registroanimales/padre.html" %}
{% load static %}
{% block tituloprincipal %}
    <h1>Contacto. </h1>
    <p class="lead fw-normal text-muted mb-5">Ante cualquier duda, puede contactarnos:</p>
    <p> Teléfono: (+54) 9 48677869 <br> <br> E-mail: veterinariaanimalte@gmail.com <br> <br> Dirección: Av. San Martin 1712 (CABA)</p>
    <br>
    <br>
    <img src="https://century21.com.ar/uploads/9/propiedades/13922/mapaGoogle.jpg" width="500" height="260" alt="Mapa dirección">
    <br>
    <br>
    <h3> Abiertos los 365 días del año las 24 hs del día!</h3>
    <br>
    <br>
    <h4>Si va a solicitar un primer turno para su mascota, por favor, registrar a su familia:</h4>
    <a href="/registroanimales/familiaFormulario">
    <button>Registre a la familia de su mascota!</button>
    </a>
{% endblock %}