{% extends "registroanimales/padre.html" %}
{% load static %}
{% block tituloprincipal %}
    <h1>Error. </h1>
    <br>
    <br>
    <p5>Esta publicación no fue realizada por usted. En caso de haber un error, o cree que dicho posteo ofende su persona, por favor comunicarse con la Veterinaria para su revaluación. Muchas gracias por aportarle al crecimiento de esta hermosa comunidad!</p5>
    <a href="/registroanimales/publicacion/list">
        <br>
        <br>
        <button>Volver a Comunidad !</button>
     </a>
{% endblock %}