{% extends "registroanimales/padre.html" %}
{% load static %}
{% block tituloprincipal %}
    <h1>Listado de secciones de la web </h1>
    <h3>1. Home</h3>
    <p5> La página principal de la web. Dará la bievenida a los usuarios a la veterinaria, y los introducirá en tema sobre que narrará la página web</p5>
    <br>
    <br>
    <h3>2. Tu mascota</h3>
    <p5> Permite conocer información médica sobre sus mascotas,última consulta, etc. Allí se permite registrar nuevas mascotas, buscar información sobre determinados animales, etc.</p5>
    <br>
    <br>
    <h3>3. Servicios </h3>
    <p5>Brindará conocimientos sobre que servicios ofrece la tienda</p5>
    <br>
    <br>
    <h3>4. Contacto</h3>
    <p5>Datos de contacto para que los usuarios puedan comunicarse con la veterinaria. Además, posibilidad de registrar a la familia de la mascota para acelerar la burocracia en la atención de los animales</p5>
    <br>
    <br>
    <h3>5. Comunidad</h3>
    <p5>Punto de contacto entre los diferentes usuarios, donde podrán intercambiar conocimientos, opiniones, etc. En otras palabras, crear, editar, eliminar y listar los posts. El verdadero blog de toda página web.</p5>
    <br>
    <br>
    <h3>6. Mi cuenta</h3>
    <p5>Administración de la cuenta personal en la página web. Allí podrán iniciar sesión, registrarse, editar datos de usuario, atribuirse un avatar, y desloguearse.</p5>
    <br>
    <br>
    <h4>Si querés saber más sobre el proyecto, te dejo la "landing page" de la página web</h4>
    <a href="/registroanimales/">
        <button>Mi página web</button>
        </a>
{% endblock %}