{% extends "registroanimales/padre.html" %}
{% load static %}
{% block tituloprincipal %}
    <h1>Nuestros servicios </h1>
    <p class="lead fw-normal text-muted mb-5">Única veterinaria abierta los 365 días del año, las 24 horas del día!</p>
    <br>
    <h4 style="color:black">1. Capacidad hospitalaria</h4>
    <p5>No te preocupes. Nosotros vamos a estar siempre disponibles, aún en los peores momentos de tu mascota. Por eso, mantenemos los precios normales, aún en horarios nocturnos</p5>
    <br>
    <br>
    <img src="https://th.bing.com/th/id/OIP.ciFlrcKvRb1k-8zOlb_RjAHaE7?w=234&h=180&c=7&r=0&o=5&pid=1.7" width="300" height="160" alt="Hospital veterinario">
    <br>
    <br>
    <br>
    <h4 style="color:black">2. Alimento de primer nivel para tu mascota</h4>
    <p5>Somos lo que comemos. Por eso, ofrecemos la mejor comida a mejor precio de todo el barrio!</p5>
    <br>
    <br>
    <img src="https://th.bing.com/th?q=Despensa+De+Alimentos&w=120&h=120&c=1&rs=1&qlt=90&cb=1&pid=InlineBlock&mkt=es-AR&cc=AR&setlang=es&adlt=moderate&t=1&mw=247" width="300" height="160" alt="Alimento animales">
    <br>
    <br>
    <br>
    <h4 style="color:black">3. Todos los artículos para vestir y divertir a tu mascota preferida!</h4>
    <p5>¿Qué necesita tu mascota? Un abrigo para afrontar el invierno, una cama para dormir bien, una pelota para jugar. Todo eso, y más disponible en nuestra tienda!</p5>
    <br>
    <br>
    <img src="https://th.bing.com/th/id/OIP.lZKyuFRCeOV9OcX2mtNb5wD6D6?w=198&h=198&c=7&r=0&o=5&pid=1.7" width="300" height="160" alt="Ropa animales">
    <br>
    <br>
    <br>
    <h4 style="color:black">4. Baño, estética y aseo general de tu mascota</h4>
    <p5>Por una cuestión de salud, pero tambien para que siempre esté reluciente socialmente, tu mascota será cuidada para estar 10 puntos!</p5>
    <br>
    <br>
    <img src="https://th.bing.com/th/id/OIP.z3AXDIMNyqMgvqoy-GcQ6gHaE7?w=240&h=180&c=7&r=0&o=5&pid=1.7" width="300" height="160" alt="Baño animales">
{% endblock %}